.form{
    margin-top:30px;
    margin-left:100px;
}

h1{
    text-align: center;
}
.form input{
    font-size: 20px;
    font-style: oblique;
    margin-top: 10px;
    border-radius: 15px;

}

.form label{
    font-size:30px ;
}

.form button{
    margin-top:20px;
    
}