.header
{
    padding: 0px;
    margin:0px;
}

.header h1
{
    font-size: large;
    padding-top: 30px;
    font-weight: 100;
}

.header ul{
    padding-top:30px;
    margin-top:30px;

}

.header ul li{
    margin-top:10px;
    font-size: 20px;
}