version: '3.8'
services:
#Backend
  server:
    build: ./server
    container_name: server
    ports:
      - "3001:3001"
    environment: 
      - mongodb+srv://kolabhavaniprasad:FQw24kp3D748MWhTn@cluster.zis7u.mongodb.net/?retryWrites=true&w=majority&appName=Cluster
#Frontend
  client:
    build: ./client
    container_name: client
    ports:
      - "3000:80"
